{% extends 'base.html' %}
{% block content%}
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.email.label}}{{form.email()}}<br>

        {% if form.email.errors %}
        <div>
        {% for error in form.email.errors %}
            <span>{{ error }} </span>
        {% endfor %}
        </div>
        {% endif %}

        {{form.username.label}}{{form.username()}}<br>
        {{form.password.label}}{{form.password()}}<br>
        {{form.pass_confirm.label}}{{form.pass_confirm()}}<br>
        {{form.submit()}}
    </form>
{% endblock %}